@{
    ViewBag.Title = "About";
}

<div class="container">
    <div class="well">
        <div class="grid6 float-grid-item">
            <h2 class="text-center">About Us</h2>
            <p class="text-center">
                We are a team of programmers and artists. We manage <a href="/Home/Index"><span style="color:royalblue">Home of Art</span></a>, a collaborative explosion of creativity fueled by a community of amazing artists
                Here you can see the best drawings, photos and stories/poems. People can like each others art and the best can be seen in the TOP button.
            </p>
        </div>
    </div>

    <div class="well">
        <h2 class="lead text-center">Leadership</h2>
        <div class="row">
            <div class="col-sm-6 text-center">

                <a href="https://www.facebook.com/nikolay.boshnakov.9" title="Nikolay Boshnakov">
                    <img class="img-circle img-fluid m-x-auto m-b" style="width: 112px;" src="https://scontent-sof1-1.xx.fbcdn.net/v/t1.0-9/18010941_10212161387647115_2698415712481384674_n.jpg?oh=efd174678aa660fbf794e43b032d51bc&oe=59BFB3B0" alt="Photo eli" />
                </a>
                <p>Nikolay Boshnakov-The Artist</p>
            </div>


            <div class="col-sm-6 text-center">
                <a href="https://www.facebook.com/buffon.cvetanov" title="Borislav Stankulov">
                    <img class="img-circle img-fluid m-x-auto m-b" style="width: 112px;" src="https://d2sxfzw9cql5wy.cloudfront.net/assets/about/photo-eli-c3f653947769511d607080c7b6ef3c02a9b18f58a3cd0d64459519960d0feabb.jpg" alt="Photo eli" />
                </a>
                <p>
                    Borislav Stankulov-The Mastermind
                </p>
            </div>

        </div>
    </div>
</div>